#crew {
  min-height: 100vh;
  background-image: url('../assets/crew-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20rem;
  padding-bottom: 0;

  @include media-query(mobile) {
    padding: 2.4rem;
    padding-top: 148px;
  }
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 2.4rem;
  margin-left: 0;
}

.crew-title {
  h2 {
    color: $white;
    font-family: $Barlow-condensed;
    font-weight: 400;
    text-transform: uppercase;
    font-size: $Heading-5;

    span {
      opacity: 0.25;
      font-weight: 700;
    }
  }

  @include media-query(mobile) {
    text-align: center;
  }
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;

  @include media-query(mobile) {
    flex-direction: column-reverse;
  }
}

.carousel-indicators {
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 9.4rem;

  @include media-query(mobile) {
    left: 35%;
    top: 50%;
  }
}

.crew-text {
  flex: 1;

  h2 {
    font-family: $Bellefair;
    font-weight: 400;
    font-size: $Heading-4;
    color: $white;
    opacity: 0.5;
    text-transform: uppercase;
    margin-top: 15.4rem;
    line-height: 3.7rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-family: $Bellefair;
    font-weight: 400;
    font-size: $Heading-3;
    text-transform: uppercase;
    line-height: 6.4rem;
    margin-bottom: 2.7rem;
  }

  p {
    font-family: $Barlow;
    font-weight: 400;
    font-size: $Body-text;
    line-height: 3.2rem;
    max-width: 44.4rem;
    color: $text-color;
  }

  @include media-query(mobile) {
    text-align: center;
    margin-bottom: 79px;
    p {
      max-width: 327px;
      margin: auto;
      font-size: 15px;
    }

    h2 {
      font-size: 16px;
    }

    h1 {
      font-size: 24px;
    }
  }
}

.crew-image-container {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;

  img {
    min-height: 75.4vh;
  }

  @include media-query(mobile) {
    border-bottom: 1px solid #383b4b;
    margin-top: 32px;
    img {
      max-width: 327px;
      max-height: 223px;
      min-height: auto;
      object-fit: contain;
    }
  }
}
