#destination {
  min-height: 100vh;
  background-image: url('../assets/destination-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20rem 20rem;
  padding-bottom: 10rem;

  #nav-tab {
    padding-left: 0;
    color: $text-color;
  }

  .destination-title {
    margin-bottom: 8rem;

    h2 {
      font-family: $Barlow-condensed;
      letter-spacing: $Heading-5-char-space;
      line-height: 3.36rem;
      font-size: $Heading-5;
      font-weight: 400;
      text-transform: uppercase;

      span {
        font-weight: 700;
        margin-right: 1vw;
        opacity: 0.25;
      }
    }
  }

  @include media-query(mobile) {
    padding: 2.4rem;
    padding-top: 148px;

    #nav-tab {
      flex-direction: row;
      justify-content: center !important;
      padding: 0 5rem;
      padding-bottom: 10rem;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
      border-right: none;
      border-bottom: 3px solid $white;
    }

    .nav-tabs .nav-link {
      border-bottom: 3px solid transparent;
      flex: 1;
    }

    .destination-title {
      text-align: center;
    }
  }
}

.planet-content {
  @include flex($justify-content: space-evenly);

  h2 {
    font-family: $Bellefair;
    font-size: $Heading-2;
    font-weight: normal;
    line-height: 11.5rem;
    margin-top: 3.7rem;
    text-transform: uppercase;
  }

  p {
    font-family: $Barlow;
    font-weight: normal;
    font-size: $Body-text;
    line-height: 3.2rem;
    text-align: justify;
    color: $text-color;
  }

  hr {
    margin-top: 5.4rem;
    margin-bottom: 2.8rem;
    width: 100%;
    height: 2px;
    border: none;
    background-color: #383b4b;
  }

  @include media-query(mobile) {
    flex-direction: column;
    text-align: center;

    p {
      text-align: center;
    }
  }
}

.travel-details {
  @include flex($justify-content: flex-start);

  column-gap: 7.9rem;

  & div:first-child,
  & div:last-child {
    h3 {
      font-family: $Barlow-condensed;
      font-weight: 400;
      font-size: $Sub-heading-2;
      text-transform: uppercase;
      line-height: 1.7rem;
      letter-spacing: $Sub-heading-2-char-space;
      color: $text-color;
      margin-bottom: 1.2rem;
    }

    div {
      font-family: $Bellefair;
      font-size: $Heading-5;
      font-weight: 400;
      line-height: 3.2rem;
      text-transform: uppercase;
    }
  }

  @include media-query(mobile) {
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 58px;
    margin-top: 32px;
  }
}

.planet-details {
  max-width: 570px;
}

.planet-image-container {
  img {
    width: 60%;
  }
}
