@import 'mixins';

// Fonts sizes
$Heading-1: 15rem;
$Heading-2: 10rem;
$Heading-3: 5.6rem;
$Heading-4: 3.2rem;
$Heading-5: 2.8rem;
$Heading-5-char-space: 4.75px;
$Sub-heading-1: 2.8rem;
$Sub-heading-2: 1.4rem;
$Sub-heading-2-char-space: 2.35px;
$Nav-text: 1.6rem;
$Nav-text-char-space: 2.7px;
$Body-text: 1.8rem;

// Font family
$Barlow: 'Barlow', sans-serif;
$Barlow-condensed: 'Barlow Condensed', sans-serif;
$Bellefair: 'Bellefair', serif;

// Colors
$primary-color: #0b0d17;
$text-color: #d0d6f9;
$white: #ffffff;
