@import 'global';
@import 'navbar';
@import 'hero-section';
@import 'destination';
@import 'crew';
@import 'technology';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;

  @include media-query(mobile) {
    font-size: 40% !important;
  }
}

body {
  color: $white;
}
