header {
  position: relative;
}

.line-container hr {
  position: absolute;
  width: 24vw;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  z-index: 100;
  left: 150px;
  top: 47%;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 5rem;
  padding-right: 0;
}
@media (max-width: 600px) {
  .navbar-container {
    padding-right: 5rem;
  }
}

.logo-container {
  flex: 1;
}
.logo-container img {
  cursor: pointer;
}

.nav-items-container {
  -webkit-backdrop-filter: blur(40.7742px);
          backdrop-filter: blur(40.7742px);
  background: rgba(255, 255, 255, 0.04);
}

.nav-items-container-desktop {
  flex: 1;
}
@media (max-width: 600px) {
  .nav-items-container-desktop {
    display: none;
  }
}

.nav {
  --bs-nav-link-color: $white;
}

.nav-tabs {
  flex: 1;
  --bs-nav-tabs-border-width: 0;
}
@media (max-width: 600px) {
  .nav-tabs {
    flex-direction: column;
  }
}

.nav-link {
  padding: 3rem 0;
  letter-spacing: 2.7px;
  font-size: 1.6rem;
  font-family: "Barlow Condensed", sans-serif;
  outline: none;
}
.nav-link span {
  font-weight: bold;
}
.nav-link:hover {
  border-bottom: 2px solid #979797;
  outline: none;
  color: #ffffff;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}
@media (max-width: 600px) {
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    border-bottom: none;
    border-right: 5px solid #ffffff;
  }
}

@media (max-width: 600px) {
  .offcanvas-body {
    padding: 0;
  }
}

.navbar-toggler {
  display: none;
}
@media (max-width: 600px) {
  .navbar-toggler {
    display: initial;
  }
}

#hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
  background-image: url("../assets/Bitmap.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  padding: 20rem 20rem;
}
@media (max-width: 600px) {
  #hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0;
    padding-top: 148px;
    background-image: url("../assets/home-mobile.png");
  }
}

.text-container {
  display: flex;
  justify-content: initial;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
}
@media (max-width: 600px) {
  .text-container {
    display: flex;
    justify-content: initial;
    align-items: center;
    flex-direction: column;
  }
}
.text-container h2 {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 2.8rem;
  font-weight: normal;
  letter-spacing: 4.75px;
  color: #d0d6f9;
}
.text-container h1 {
  font-family: "Bellefair", serif;
  font-size: 15rem;
  font-weight: normal;
}
.text-container h3 {
  font-size: 1.8rem;
  font-weight: normal;
  font-family: "Barlow", sans-serif;
  line-height: 3.2rem;
  color: #d0d6f9;
  max-width: 44.4rem;
  text-align: justify;
}
@media (max-width: 600px) {
  .text-container h3 {
    text-align: center;
  }
}

.button-container {
  flex: 1;
  text-align: center;
}
.button-container button {
  width: 27.4rem;
  height: 27.4rem;
  border-radius: 100%;
  border: none;
  font-family: "Bellefair", serif;
  font-weight: normal;
  font-size: 3.2rem;
  letter-spacing: 2px;
  line-height: 3.7rem;
  text-transform: uppercase;
  color: #0b0d17;
  cursor: pointer;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  transition: outline 0.5s ease-out;
}
.button-container button:hover {
  outline: 100px solid rgba(255, 255, 255, 0.1);
}

#destination {
  min-height: 100vh;
  background-image: url("../assets/destination-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20rem 20rem;
  padding-bottom: 10rem;
}
#destination #nav-tab {
  padding-left: 0;
  color: #d0d6f9;
}
#destination .destination-title {
  margin-bottom: 8rem;
}
#destination .destination-title h2 {
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 4.75px;
  line-height: 3.36rem;
  font-size: 2.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
#destination .destination-title h2 span {
  font-weight: 700;
  margin-right: 1vw;
  opacity: 0.25;
}
@media (max-width: 600px) {
  #destination {
    padding: 2.4rem;
    padding-top: 148px;
  }
  #destination #nav-tab {
    flex-direction: row;
    justify-content: center !important;
    padding: 0 5rem;
    padding-bottom: 10rem;
  }
  #destination .nav-tabs .nav-item.show .nav-link,
  #destination .nav-tabs .nav-link.active {
    border-right: none;
    border-bottom: 3px solid #ffffff;
  }
  #destination .nav-tabs .nav-link {
    border-bottom: 3px solid transparent;
    flex: 1;
  }
  #destination .destination-title {
    text-align: center;
  }
}

.planet-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
.planet-content h2 {
  font-family: "Bellefair", serif;
  font-size: 10rem;
  font-weight: normal;
  line-height: 11.5rem;
  margin-top: 3.7rem;
  text-transform: uppercase;
}
.planet-content p {
  font-family: "Barlow", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 3.2rem;
  text-align: justify;
  color: #d0d6f9;
}
.planet-content hr {
  margin-top: 5.4rem;
  margin-bottom: 2.8rem;
  width: 100%;
  height: 2px;
  border: none;
  background-color: #383b4b;
}
@media (max-width: 600px) {
  .planet-content {
    flex-direction: column;
    text-align: center;
  }
  .planet-content p {
    text-align: center;
  }
}

.travel-details {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  -moz-column-gap: 7.9rem;
       column-gap: 7.9rem;
}
.travel-details div:first-child h3, .travel-details div:last-child h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 1.7rem;
  letter-spacing: 2.35px;
  color: #d0d6f9;
  margin-bottom: 1.2rem;
}
.travel-details div:first-child div, .travel-details div:last-child div {
  font-family: "Bellefair", serif;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-transform: uppercase;
}
@media (max-width: 600px) {
  .travel-details {
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 58px;
    margin-top: 32px;
  }
}

.planet-details {
  max-width: 570px;
}

.planet-image-container img {
  width: 60%;
}

#crew {
  min-height: 100vh;
  background-image: url("../assets/crew-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 20rem;
  padding-bottom: 0;
}

.carousel-indicators [data-bs-target] {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin-right: 2.4rem;
  margin-left: 0;
}

.crew-title h2 {
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 2.8rem;
}
.crew-title h2 span {
  opacity: 0.25;
  font-weight: 700;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: flex;
}

.carousel-indicators {
  justify-content: flex-start;
  margin-left: 0;
  margin-bottom: 9.4rem;
}

.crew-text {
  flex: 1;
}
.crew-text h2 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 3.2rem;
  color: #ffffff;
  opacity: 0.5;
  text-transform: uppercase;
  margin-top: 15.4rem;
  line-height: 3.7rem;
  margin-bottom: 1.5rem;
}
.crew-text h1 {
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 5.6rem;
  text-transform: uppercase;
  line-height: 6.4rem;
  margin-bottom: 2.7rem;
}
.crew-text p {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 3.2rem;
  max-width: 44.4rem;
  color: #d0d6f9;
}

.crew-image-container {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.crew-image-container img {
  min-height: 75.4vh;
}

#technology {
  min-height: 100vh;
  background-image: url("../assets/technology-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 20rem;
  padding-right: 0;
  padding-bottom: 0;
}

.technology-title {
  margin-bottom: 13.7rem;
}
.technology-title h1 {
  color: #ffffff;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 400;
  font-size: 2.8rem;
  line-height: 3.4rem;
  letter-spacing: 4.75px;
  text-transform: uppercase;
}
.technology-title h1 span {
  font-weight: 700;
  opacity: 0.25;
}

.tabs-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.tab-content {
  flex: 1;
}

#technology .tabs-container .ttt .nav-link.active {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  color: #0b0d17;
}

.nav-tabs .technology-nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-bottom: 3.2rem;
  font-family: "Bellefair", serif;
  font-weight: 400;
  font-size: 3.2rem;
  line-height: 3.7rem;
  letter-spacing: 2px;
  color: #ffffff;
}

.flex-active-tab.active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.text-content {
  font-weight: 400;
}
.text-content span {
  display: block;
  color: #d0d6f9;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1.6rem;
  line-height: 1.9rem;
  letter-spacing: 2.7px;
  margin-bottom: 1.1rem;
}
.text-content h2 {
  color: #ffffff;
  font-family: "Bellefair", serif;
  font-size: 5.6rem;
  line-height: 6.4rem;
  margin-bottom: 1.7rem;
}
.text-content p {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #d0d6f9;
  max-width: 44.4rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5% !important;
}
@media (max-width: 600px) {
  html {
    font-size: 40% !important;
  }
}

body {
  color: #ffffff;
}/*# sourceMappingURL=styles.css.map */